[rhodecode]
	auth_token=1234567890a
	url=https://your.rhodecode.domain.com/_admin/api
	number_of_commits=20
[main]
	email=false
	repotrack=false
[email]
	from=rhodecode_watch@domain.com
	to=rhodecode_watcher@domain.com
	host=localhost
	subject=[rhodecode] Commits for {date}
	dateformat=%%Y-%%m-%%d # percent sign must be escaped once